@import "nib"
@import "/node_modules/jeet/stylus/jeet"
@import "/node_modules/rupture/rupture"
@import "/node_modules/typographic/typographic"
@import "/node_modules/stylus-normalize/normalize"
@import "/node_modules/stylus-mrmrscolors"

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing border-box
*, *:before, *:after
  box-sizing inherit
